@font-face {
    font-family: "Bright";
    src: url("./assets/fonts/Bright\ DEMO.otf");
}

@font-face {
    font-family: "Hamb";
    src: url("./assets/fonts/HAMBH.TTF");
}

#ecran_app {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

#ecran_game_over {
    display: none;
    flex-direction: column;
}

#ecran_accueil {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#ecran_accueil div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

#ecran_accueil > * {
    width: 60%;
}

#ecran_accueil div button {
    flex-grow: 1;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color, 0.3s;
}

.dot.active {
    background-color: #c0343d;
    transition: background-color, 0.3s;
}

header {
    display: flex;
    justify-content: left;
    align-content: center;
}

body {
    font-family: 'Courier New', monospace;
    background-color: #38312e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: auto;
}

h1, h2, h3, h4, p, table {
    color: #f3e8d8;
}

h1 {
    font-family: "Bright";
    font-size: 5em;
    margin: 0px 0 7px 8px;
    text-shadow: -2px -2px #c0343d, +2px -2px #c0343d,-2px +2px #c0343d, +2px +2px #c0343d;
}

#pannel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#panneau_infos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    border: 3px solid #f3e8d8;
    border-radius: 15px;
}

#panneau_infos p, #panneau_infos span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: auto 1.5em;
}

#panneau_infos span > img {
    margin: 0 10px;
}

#fleche > img {
    height: 60px;
    rotate: -35deg;
    margin-right: 8px;
    filter: opacity(15%);
    transition: opacity, 0.3s;
}

#fleche > img.dart_available {
    filter: opacity(100%);
    transition: opacity, 0.3s;
}

button img {
    height: 1.5em;
    vertical-align: middle;
}


#keyboard button {
    width: 2.2em;
    height: 2.2em;
    border-radius: 15px 15px;
}

#keyboard .keyboard-row {
    display: flex;
    justify-content: flex-end;
    max-width: 92vw;
}

#keyboard > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: repeat-x;
    background-size: 7em;
    background-position-y: center;
    padding: 0 5px;
}

#keyboard-simple {
    background-image: url("./assets/simple.svg");
}

#keyboard-double {
    background-image: url("./assets/double.svg");
}

#keyboard-triple {
    background-image: url("./assets/triple.svg");
}

#keyboard p {
     margin: 0;
     color: #706861;
     font-family: "Hamb";
     font-size: 1.4em;
     letter-spacing: 0.6em;
     background-color: #38312e;
     padding-left: 5px;
}

 button {
    font-family: "Verdana", "Arial";
    background-color: #e69d04;
    color: #f3e8d8;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    border: 0;
    border-radius: 15px 15px;
}

button:hover {
    filter: brightness(70%);
}

.bull_eye {
    width: 1em;
}

.active_player {
    background-color: #544945;
    transition: background-color, 0.3s;
    border-left: 3px solid #e69d04;
    transition: border-left, 0,3s;
}

#tableau_scores {
    display: inline-table;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
}


#tableau_scores thead {
    background-color: #c0343d;
}

tr {
    height: 3em;
    border-left: 3px solid #38312e;
}

thead > tr {
    border-left: 3px solid #c0343d;
}


td, th, p {
    font-family: "Verdana", "Arial";
    font-size: 1.5em;
}

th {
    text-align: center;
}

td { 
    text-align: center;
}

#button_rotate {
    display: none;
}